<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include your existing header links here -->
    {{>headerlinks}}
</head>

<body>
    <!-- Include your existing navbar here -->
    {{>navbar}}

    <!-- Main header -->
    <div class="main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="container-fluid main_content">

                    <!-- Weather Form -->
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name.." autocomplete="off">
                        <br>
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>

                    <!-- Weather Information -->
                    <div class="tempInformation">
                        <div class="top_layer">
                            <p id="day"></p>
                            <p id="today_date"></p>
                            <p id="current_time"></p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name">Get output here</p>
                            <div class="middle_layer">
                                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>

                    <!-- AQI Information -->
                    <div class="aqiInformation data_hide">
                        <p id="aqi_label">Air Quality Index (AQI):</p>
                        <p id="aqi_value">0</p>
                        <p id="aqi_rating">Rating: <span id="aqi_rating_text"></span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Include your existing footer here -->
    {{>footer}}

    <!-- Include your existing JavaScript file here -->
    <script src="js/main.js"></script>
</body>

</html>
